parameters:
    hyperion.workflow:
        key:
        secret:
        region: ap-southeast-2
        domain: hyperion_dev

    hyperion.dbal:
        hostname:  api.hyperion.dev

    hyperion.cache-pool:
        host: 127.0.0.1
        port: 6379
        database: 5